@font-face {
    font-family: 'harriet_displaymedium';
    src: url('../font/harriet_display_medium-webfont.eot');
    src: url('../font/harriet_display_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/harriet_display_medium-webfont.woff2') format('woff2'),
         url('../font/harriet_display_medium-webfont.woff') format('woff'),
         url('../font/harriet_display_medium-webfont.ttf') format('truetype'),
         url('../font/harriet_display_medium-webfont.svg#harriet_displaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'harriet_displaylight';
    src: url('../font/harriet_display_light-webfont.eot');
    src: url('../font/harriet_display_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/harriet_display_light-webfont.woff2') format('woff2'),
         url('../font/harriet_display_light-webfont.woff') format('woff'),
         url('../font/harriet_display_light-webfont.ttf') format('truetype'),
         url('../font/harriet_display_light-webfont.svg#harriet_displaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alright_sanslight';
    src: url('../font/alrightsans-light-v3-webfont.eot');
    src: url('../font/alrightsans-light-v3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alrightsans-light-v3-webfont.woff2') format('woff2'),
         url('../font/alrightsans-light-v3-webfont.woff') format('woff'),
         url('../font/alrightsans-light-v3-webfont.ttf') format('truetype'),
         url('../font/alrightsans-light-v3-webfont.svg#alright_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alright_sanslight_italic';
    src: url('../font/alrightsans-lightitalic-v3-webfont.eot');
    src: url('../font/alrightsans-lightitalic-v3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alrightsans-lightitalic-v3-webfont.woff2') format('woff2'),
         url('../font/alrightsans-lightitalic-v3-webfont.woff') format('woff'),
         url('../font/alrightsans-lightitalic-v3-webfont.ttf') format('truetype'),
         url('../font/alrightsans-lightitalic-v3-webfont.svg#alright_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alright_sansregular';
    src: url('../font/alrightsans-regular-v3-webfont.eot');
    src: url('../font/alrightsans-regular-v3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/alrightsans-regular-v3-webfont.woff2') format('woff2'),
         url('../font/alrightsans-regular-v3-webfont.woff') format('woff'),
         url('../font/alrightsans-regular-v3-webfont.ttf') format('truetype'),
         url('../font/alrightsans-regular-v3-webfont.svg#alright_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro-Roman';
  src: url('../font/AvenirLTPro-Roman.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirLTPro-Roman.otf')  format('opentype'),
         url('../font/AvenirLTPro-Roman.woff') format('woff'), url('../font/AvenirLTPro-Roman.ttf')  format('truetype'), url('../font/AvenirLTPro-Roman.svg#AvenirLTPro-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro-Light';
  src: url('../font/AvenirLTPro-Light.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirLTPro-Light.otf')  format('opentype'),
         url('../font/AvenirLTPro-Light.woff') format('woff'), url('../font/AvenirLTPro-Light.ttf')  format('truetype'), url('../font/AvenirLTPro-Light.svg#AvenirLTPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTPro-Book';
  src: url('../font/AvenirLTPro-Book.eot?#iefix') format('embedded-opentype'),  url('../font/AvenirLTPro-Book.otf')  format('opentype'),
         url('../font/AvenirLTPro-Book.woff') format('woff'), url('../font/AvenirLTPro-Book.ttf')  format('truetype'), url('../font/AvenirLTPro-Book.svg#AvenirLTPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

.dark-golden {
    color: #d7bc53
}

.golden {
    color: #d4ba52!important
}

.a-regular {
    font-family: 'alright_sansregular';
}

.a-light {
    font-family: 'alright_sanslight';
}

.a-lightitalic {
    font-family: 'alright_sanslight_italic';
}

.hd-medium {
    font-family: 'harriet_displaymedium';
}

.hd-light {
    font-family: 'harriet_displaylight';
}

.av-roman {
    font-family: 'AvenirLTPro-Roman';
}

.av-light {
    font-family: 'AvenirLTPro-Light';
}

.av-book {
    font-family: 'AvenirLTPro-Book';
}

.f13 {
    font-size: 13px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f19 {
    font-size: 19px;
}

.f20 {
    font-size: 20px
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f28 {
    font-size: 28px;
}

.f30 {
    font-size: 30px;
}

.f32 {
    font-size: 32px;
}

.f42 {
    font-size: 42px;
}

.f44 {
    font-size: 44px;
}

.f50 {
    font-size: 50px;
}

.f58 {
    font-size: 58px;
}

.f60 {
    font-size: 60px;
}

.f62 {
    font-size: 62px;
}

.f65 {
    font-size: 65px;
}

.f103 {
    font-size: 103px;
}

.f120 {
    font-size: 120px;
}

.f124 {
    font-size: 124px;
}

.f144 {
    font-size: 144px;
}

.f145 {
    font-size: 145px;
}

.f156 {
    font-size: 156px;
}

.f180 {
    font-size: 180px;
}

.f192 {
    font-size: 192px;
}

.f200 {
    font-size: 200px;
}

.f340 {
    font-size: 340px;
}