@import 'sprite';

$colorBtn : #E2CF83;
$lineHeight : 34.6px;
$colorFont : #434343;

.btn, .btn-large {
	background-color: $colorBtn;
	text-transform: inherit;

	&:hover {
		background-color: #E5CC40;
	}
}

.btn-large--landing {
	background: none;
	color: #d7bc53;
	box-shadow: none;
	border: 1px solid #d7bc53;

	&:hover {
		color: #fff;
		border-color: transparent;
	}
}

.shadow {
	-webkit-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.5);
}

.caret {
	@extend .icon;
	@include sprite($arrow-select);
	z-index: 100;
	top: 37px;
	right: 36px
}

.full-h {
	min-height: 100vh;
}

/* MENU */
#hero {
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
	float: left;
	position: relative;
	background-image: url(../img/bg-home.png);

	.content {
		margin: 48px;
		padding: 45px 48px;

		.lang {
			margin: 3px 21px;
			line-height: 15px;
		}

		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
			background-color: #fff;
		}

		.main-text {
			margin: 15% auto 12%;
		}

		.box-scroll {
			position: absolute;
			bottom: 118px;
			left: 50%;
			width: 156px;
			height: 80px;
			margin-left: -78px!important;

			.arrow-scroll {
				@include sprite($arrow-scroll);
				position: absolute;
				top: 30px;
				left: 50%;
				margin-left: -20px;
				animation: bounce 1s infinite;
			}
		}

		@keyframes bounce {
			0%       { top: 30px; }
			25%, 75% { top: 38px; }
			50%      { top: 40px; }
			100%     { top: 30px; }
		}

		.check-booking {
			width: 560px;
			height: 75px;
			background-color: #fff;
			position: absolute;
			bottom: 13px;
			left: 50%;
			margin-left: -280px;
			padding: 16px;

			.calendar {
				width: 157px;
				height: 45px;
				line-height: 45px;
				position: relative;

				input {
					border: 1px solid #E6E6E6;
					padding: 0 14px;
					width: 120px;
					cursor: pointer;
					box-sizing: border-box;
					font-family: 'alright_sanslight';
					font-size: 16px;
					color: #979797;
				}

				.box-calendar {
					position: absolute;
					right: 0;
					top: 0;
					width: 38px;
					height: 45px;
					border: 1px solid #E6E6E6;

					.icon-calendar {
						@include sprite($calendar);
						margin: 7px auto;
					}
				}

				&:first-child {
					margin-right: 14px;
				}
			}

			.btn {
				width: 160px;
				height: 42px;
				line-height: 42px;
				padding: 0;
				margin-left: 24px;
			}
		}

	}

	&.landing {
		background: #fff;

		.box-scroll {
			.arrow-scroll {
				@include sprite($arrow-scroll--dark-golden);
			}
		}
	}
}

#menu {
	height: 111px;
	border-bottom: 2px solid #ececec;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 33px 0;
	z-index: 10;

	.check-booking {
		.calendar {
			width: 157px;
			height: 45px;
			line-height: 45px;
			position: relative;

			input {
				border: 1px solid #E6E6E6;
				padding: 0 14px;
				width: 120px;
				cursor: pointer;
				box-sizing: border-box;
				font-family: 'alright_sanslight';
				color: #979797;
			}

			.box-calendar {
				position: absolute;
				right: 0;
				top: 0;
				width: 38px;
				height: 45px;
				border: 1px solid #E6E6E6;

				.icon-calendar {
					@include sprite($calendar);
					margin: 7px auto;
				}
			}

			&:first-child {
				margin-right: 14px;
			}
		}

		.btn {
			width: 160px;
			height: 42px;
			line-height: 42px;
			margin: 0 20px;
			display: block;
			padding: 0
		}
	}

	.hamburger {
		margin-top: -3px!important
	}
}

#modal {
	position: fixed;
	top: 100vh;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;

	.fundo {
		width: 100%;
		height: 100%;
		z-index: 101;
		opacity: 0.9;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.hamburger {
		position: absolute;
		top: 45px;
		z-index: 102;

		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
			background-color: #fff
		}
	}

	.text-left {
		position: absolute;
		left: 30%;
		top: 17%;
		z-index: 102;
	}

	.text-right {
		position: absolute;
		right: 30%;
		top: 17%;
		z-index: 102;
	}

	.text-left, .text-right {
		a {
			display: block;

			&.active, &:hover {
				text-decoration: line-through
			}
		}
	}

	.newsletter {
		margin-top: 20px;
		width: 110%;

		p {
			margin-bottom: 5px;
			line-height: $lineHeight;
		}

		::-webkit-input-placeholder {
			font-style: italic;
		}
		:-moz-placeholder {
			font-style: italic;
		}
		::-moz-placeholder {
			font-style: italic;
		}
		:-ms-input-placeholder {
			font-style: italic;
		}
	}
	.lang {
		position: absolute;
		left: 17%;
		bottom: 12%;

		a {
			margin-right: 7px
		}
	}
}

/* HOME */
#rooms {
	padding: 93px 0 150px;
	clear: both;
	float: left;
	width: 100%;

	h3 {
		margin: 40px 0 30px;
		line-height: 1
	}

	p {
		line-height: $lineHeight;
		letter-spacing: 0.02em;
	}

	.btn-large {
		margin: 60px 0 138px;
	}

	.m5.left {
		margin-bottom: 70px;
	}

	.m7 {
		padding-left: 60px;
		margin-bottom: 150px;

		p {
			text-align: justify;
		}
	}
	.slideLeft {
	    animation-name: slideLeft;
	    -webkit-animation-name: slideLeft;
	    animation-duration: 1s;
	    -webkit-animation-duration: 1s;
	    animation-timing-function: linear;
	    -webkit-animation-timing-function: linear;
	    visibility: visible !important;
	}
	@keyframes slideLeft {
	    0% {
	        transform: translateX(150%);
	        opacity: 0;
	        filter: alpha(opacity=0);
	    }
	    50% {
	        transform: translateX(-8%);
	        opacity: 0.5;
	        filter: alpha(opacity=50);
	    }
	    65% {
	        transform: translateX(-6%);
	        opacity: 0.65;
	        filter: alpha(opacity=65);
	    }
	    80% {
	        transform: translateX(-4%);
	        opacity: 0.8;
	        filter: alpha(opacity=80);
	    }
	    95% {
	        transform: translateX(-2%);
	        opacity: 0.95;
	        filter: alpha(opacity=95);
	    }
	    100% {
	        transform: translateX(0%);
	        opacity: 1;
	        filter: alpha(opacity=100);
	    }
	}
	.slideRight {
	    animation-name: slideRight;
	    -webkit-animation-name: slideRight;
	    animation-duration: 1s;
	    -webkit-animation-duration: 1s;
	    animation-timing-function: linear;
	    -webkit-animation-timing-function: linear;
	    visibility: visible !important;
	}
	@keyframes slideRight {
	    0% {
	        transform: translateX(-150%);
	        opacity: 0;
	        filter: alpha(opacity=0);
	    }
	    50% {
	        transform: translateX(8%);
	        opacity: 0.5;
	        filter: alpha(opacity=50);
	    }
	    65% {
	        transform: translateX(6%);
	        opacity: 0.6;
	        filter: alpha(opacity=60);
	    }
	    80% {
	        transform: translateX(4%);
	        opacity: 0.8;
	        filter: alpha(opacity=80);
	    }
	    95% {
	        transform: translateX(2%);
	        opacity: 0.95;
	        filter: alpha(opacity=95);
	    }
	    100% {
	        transform: translateX(0%);
	        opacity: 1;
	        filter: alpha(opacity=1);
	    }
	}
}

#restaurants {
	background-color: #F4F3F3;
	position: relative;
	float: left;
	clear: both;
	width: 100%;

	p {
		line-height: $lineHeight + 7px
	}

	h2 {
		margin-top: -108px;
	}

	.types {
		min-height: 100vh;
	    margin-top: 130px;
	    clear: both;
	    float: left;
	    width: 100%;

		.m12 {
			margin: 270px 0 0;

			p {
				line-height: $lineHeight;
				padding-left: 0!important
			}
		}

		.m6 {
			padding: 0!important;
		}

		img {
			height: 100vh;
			width: 100%
		}

		.btn-large {
			margin: 60px 0;
			clear: both;
		}
	}
}

#more {
	padding: 140px 0 235px;

	h2 {
		margin-bottom: 230px
	}

	.box-news {
		padding: 55px 40px 45px;
		margin-bottom: 29px;


		h3 {
			margin: 0;
		}
	}

	.box-experiences {
		padding: 0;
		margin-left: -100px;

		.description {
			padding: 40px 55px 55px
		}
	}

	.box-facilities {
		.description {
			padding: 25px 25px 40px
		}
	}

	a {
		color: #000;
		border-bottom: 1px solid #F495AC;
		margin-top: 45px;
		float: left;
	}
}

/* ACCOMODATIONS */
#intern {
	padding: 125px 0;

	.info {
		.a-light {
			letter-spacing: -0.02em;
			line-height: $lineHeight;
			margin-bottom: 120px
		}
	}

	.card {
		width: 49%;

		&:nth-child(even) {
			float: right;
		}

		h2 {
			margin-top: 15px;
		}

		.btn-large {
			margin: 40px auto 30px;
			float: none;
			display: block;
		}

		.extended {
			p {
				line-height: $lineHeight;
				margin: 30px 0;
			}

			&.no-booking {
				.m4 {
					width: 37%;

					&:last-child {
						width: 26%;
						float: right;
					}
				}
			}

			.check-booking {
				margin-top: 40px;

				.calendar {
					width: 157px;
					height: 45px;
					line-height: 45px;
					position: relative;

					input {
						border: 1px solid #E6E6E6;
						padding: 0 14px;
						width: 120px;
						cursor: pointer;
						box-sizing: border-box;
					}

					.box-calendar {
						position: absolute;
						right: 0;
						top: 0;
						width: 38px;
						height: 45px;
						border: 1px solid #E6E6E6;

						.icon-calendar {
							@include sprite($calendar);
							margin: 7px auto;
						}
					}

					&:first-child {
						margin-right: 14px;
					}
				}

				.btn {
					width: 160px;
					height: 42px;
					line-height: 42px;
					margin: 25px auto;
					display: block;
					padding: 0
				}
			}
		}
	}
}

/* PRIVACY POLICE */
#layout-two {
	h1 {
		margin: 65px auto 10px;
	}

	.text {
		p {
			font-size: 18px;
			line-height: 37.6px;
			font-family: 'alright_sanslight';
			margin-top: 50px;
			color: $colorFont;
		}

		h2 {
			margin: 115px 0 -33px;
		}
	}

	#footer {
		.main {
			background-color: #f2f1f1;
		}

		.footer-gray {
			background-color: #fff;
		}
	}

	.btn-large--landing {
		margin-top: 30px;
	}

	input:not([type]), input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.materialize-textarea {
		border-bottom: 1px solid #E2CF83;
    	box-shadow: 0 1px 0 0 #E2CF83;
    }
}

/* ABOUT US */
.our-story {
	margin-bottom: 180px;

	p {
		color: $colorFont;
		line-height: $lineHeight + 7px;
		margin-top: 10px
	}
}

.content-about {
	h2 {
		margin: 125px auto 50px;
	}

	.col.m12 {
		width: 98%;

		p {
			margin-bottom: 45px;
			font-size: 18px;
			line-height: $lineHeight;
			color: $colorFont;
			font-family: 'alright_sanslight';
		}
	}
}

/* CONGRATULATIONS */
.no-booking {
	.check-booking {
		display: none;
	}
}
.congratulations {
	h1 {
		margin-top: 90px!important
	}

	p {
		color: $colorFont;
		line-height: $lineHeight;
		margin-top: 70px
	}

	.btn {
		margin: 40px auto;
		width: 202px;
		height: 48px;
		line-height: 48px;
		display: block;
	}
}

/* ARTICLE */
#layout-two .article {
	margin: 160px auto;
}

#layout-two .article--subtitle {
	margin-bottom: 30px;
} 

#layout-two .article--title {
	margin-top: 0;
}

.published {
	color: #f495ac;
	margin-top: 60px;
}

.shares {
	margin: 60px 0 174px;

	.left {
		margin-left: 10px;
	}
}

.border {
	border-bottom: solid 1px #eaeaea;
	clear: both;
}

.text-italic {
	margin-bottom: 75px;

	p {
		font-style: italic;
		line-height: $lineHeight;
		color: $colorFont;
		margin: 85px auto 45px;
	}

	.btn {
		width: 210px;
		height: 55px;
		line-height: 55px;
		display: block;
		padding: 0 18px;
	}
}

/* LANDING - ARTICLE */
#intern-landing {
	padding: 44px 0 125px;

	#hero ~ & {
		padding-top: 95px;
		padding-bottom: 160px;
	}

	.header-landing {
		height: 85px;
		line-height: 85px;

		.right {
			&:hover {
				opacity: .85;
			}
		}
	}

	.text {
		p {
			font-family: 'AvenirLTPro-Light';
		}
	}
}

/* BOOKING */
#booking {
	padding: 231px 0 300px;

	li {
		margin-left: 57px;
		opacity: .38;
		filter: alpha(opacity=38);

		&.active {
			opacity: 1;
			filter: alpha(opacity=100);

		}

		&:first-child {
			margin-left: 0;
		}
	}

	.container {
		position: relative;

		.f124 {
			margin: 212px 0 0 190px;

			i:after {
				content: '3.';
				position: absolute;
				top: 150px;
				left: 50px;
				opacity: 0.12;
				filter: alpha(opacity=12);
				line-height: 1;
				font-size: 340px;
			}
		}

		&.payment {
			i:after {
				content: '2.';
			}
		}

		&.select-room {
			width: 930px;

			.f124 {
				margin-left: 140px;
			}

			i:after {
				content: '1.';
				left: 0
			}
		}
	}
}

.box-review {
	margin-top: -15px;
	text-align: center;

	.m11 {
		background-color: #f7f7f7;
		padding-top: 90px;
		padding-bottom: 90px;

		.logo {
			width: 260px;
			height: 71px;

			img {
				margin-bottom: 115px!important;
			}
		}

		.block {
			margin-bottom: 45px;

			p {
				margin-bottom: 8px;

				&.f32 {
					margin-top: 115px
				}
			}
		}

		.btn {
			width: 182px;
			height: 48px;
			line-height: 48px;
			padding: 0 48px;
			background-color: #ddc979;
			border: 1px solid #f495ac;
			color: #f495ac;
		}
	}
}

.big-block {
	margin-bottom: 70px;

	input, .select-wrapper input.select-dropdown {
		height: 90px;
		line-height: 90px;
		padding: 0 40px;
		border: solid 1px rgba(151, 151, 151, 0.2);
		background-color: #fff;
		box-sizing: border-box;
		font-size: 22px;
		color: #979797;
		font-family: 'alright_sanslight'
	}

	&:last-child {
		margin-bottom: 330px;
	}
}

.valign-review {
	height: 676px;
	clear: both;
}

.valign-guest {
	height: 950px;
	clear: both;
}

.valign-card {
	height: 804px;
	clear: both;
}

.valign-final {
	height: 579px;
	clear: both;
}

.box-guest, .box-card, .box-final {
	.m12 {
		background-color: #f7f7f7;
	}
}

.box-guest {
	.m12 {
		padding: 115px 0;
	}
}

.box-reservation {
	margin: -80px auto 260px!important;
	padding: 100px 0;
	background-color: #f4f3f3;
	@extend .shadow;

	h1, p {
		color: #555;
	}

	h1 {
		margin: 0 auto;
		line-height: 1.1;
	}

	.text {
		margin: 65px auto 95px;

		p {
			line-height: $lineHeight + 7px;
		}
	}

	.f20.black-text {
		&:nth-child(even) {
			margin-bottom: 45px;
		}
	}

	.btn {
		width: 182px;
		height: 48px;
		line-height: 48px;
		display: block;
		padding: 0 47px;
		margin: 100px auto 0
	}
}

.box-card {
	.m12 {
		padding: 81px 0;

		i {
			color: #979797;
			margin-bottom: 8px;
			display: block;
			opacity: .75
		}

		.card-type {
			background-color: #fff;
			border: solid 1px rgba(151, 151, 151, 0.2);
			height: 90px;
			line-height: 90px;
			text-align: center;
			color: #979797;
			margin: 0 0 2rem 1.15rem;
			padding: 0 2.7rem;

			&:first-of-type {
				margin-left: 0;
			}

			&.active {
				background-color: #e9e9e9;
				color: #727272;
			}
		}

		.m4 {
			margin: 0 20px 1rem 0;
			padding: 0;

			.caret {
				top: 32px;
				right: 32px;
			}

			#cvc, &.cvc {
				margin-bottom: 0;
			}
		}
	}
}

.box-final {
	.m12 {
		padding: 55px 0 45px;

		.box-agree {
			margin: 85px auto 40px!important;
			padding: 0;

			p, a {
				color: #979797;
				line-height: 39px;
			}

			a:hover {
				text-decoration: underline;
			}

			.checkbox {
				cursor: pointer;
				width: 59px;
				height: 62px;
				background-color: #ffffff;
				border: solid 1px rgba(151, 151, 151, 0.2);
				position: relative;
				margin-top: 5px;

				.checked {
					@include sprite($checked);
					position: absolute;
					top: 13px;
					left: 13px;
					display: none;
				}
			}
		}
		.btn {
			background-color: #ddc979!important;
			display: block;
		}
	}
}

.select-room {
	.rooms {
		margin-top: -200px;
		padding: 0;

		.type-room {
			margin: 0 0 20px 20px;
		}

		.italic {
			opacity: .35;
			color: #000;
		}

		.f58, .f42 {
			line-height: 0.7;
			margin-left: 5px;
			color: #555;
		}

		.period {
			line-height: 3.5;
			margin-left: 4px;
			color: #555;
		}

		.box-room {
			background-color: #fff;
			-webkit-box-shadow: 0px 24px 39px 0px rgba(204,204,204,0.5);
			-moz-box-shadow: 0px 24px 39px 0px rgba(204,204,204,0.5);
			box-shadow: 0px 24px 39px 0px rgba(204,204,204,0.5);
			margin-bottom: 120px;

			.f18 {
				color: #434343;
				line-height: $lineHeight;
			}

			.m11 {
				padding: 45px 0;
			}

			.m5 {
				margin-top: 10px;

				.m11 {
					padding: 0;
				}

				.btn {
					width: 160px;
					height: 48px;
					line-height: 48px;
					display: block;
					margin-top: 25px!important;
					background-color: #ddc979;
					clear: both;
					padding: 0 32px;

					&.active {
						border: solid 1px #f495ac;
						color: #f495ac!important;
					}
				}
			}

			.details {
				.m6.right {
					margin-top: 35px;
					padding-left: 0;

					.btn {
						margin-top: -12px!important;
						padding: 0 28px;
					}
				}

				.m6 .m11 {
					padding: 0;
				}

				&:nth-child(odd) {
					background-color: #F7F7F7;
				}
			}
		}
		.block-room:last-of-type {
			margin-bottom: 400px;
		}
	}

	.filter {
		margin-top: 65px;

		.calendar {
			width: 100%;
			height: 58px;
			line-height: 58px;
			position: relative;
			margin-bottom: 20px;

			input {
				border: 1px solid #E6E6E6;
				padding: 0 14px;
				width: 77%;
				cursor: pointer;
				box-sizing: border-box;
				font-size: 20px;
				color: #979797;
				height: 58px;
				line-height: 58px;
			}

			.box-calendar {
				position: absolute;
				right: 0;
				top: 0;
				width: 23%;
				height: 58px;
				border: 1px solid #E6E6E6;

				.icon-calendar {
					@include sprite($calendar-bigger);
					margin: 10px auto;
				}

				.icon-guest {
					@include sprite($guest-icon);
					margin: 10px auto;
				}
			}

			&:first-child {
				margin-right: 14px;
			}
		}

		i {
			color: #979797;
			opacity: .5;
			padding-left: 10px;
			display: block;
			margin-bottom: -5px;
		}

		.btn-large {
			width: 100%;
			margin-top: 54px;
			background-color: #ddc979;
			border: solid 1px #f495ac;
		}
	}
}

/* CONTACT US */
#contact-map {
	position: relative;

	.maps {
		position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;

		iframe {
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%!important;
			height: 100%!important;
			max-height: 1200px;
		}
	}

	.box-address {
		position: absolute;
		top: 140px;
		left: 0;
		padding: 135px 0 115px;
		@extend .shadow;

		.city {
			line-height: 1.1;
			margin-bottom: 90px
		}

		.f18 {
			line-height: $lineHeight + 7px;
		}

		.m6 {
			padding: 0;
			margin: 50px 0 145px
		}

		.social-media {
			clear: both;

			a {
				margin: 0 26px 0 16px;

				&.facebook {
					@include sprite($facebook-white);
				}

				&.twitter {
					@include sprite($twitter-white);
				}

				&.instagram {
					@include sprite($instagram-white);
				}
			}
		}
	}

	.get-touch {
		margin: 200px auto 420px;

		.f22 {
			line-height: $lineHeight + 7px;
			color: $colorFont;
		}

		#contact {
			margin-top: 170px!important;
			clear: both;

			input, textarea {
				border: 3px solid #f3f3f3;
				padding: 0 40px;
				height: 90px;
				line-height: 90px;
				color: #979797;
				font-size: 22px;
				margin-bottom: 30px;
				box-sizing: border-box;

				&:focus {
					border-bottom: 3px solid #f3f3f3!important;
    				box-shadow: inherit!important;
				}
			}

			textarea {
				height: 300px!important;
				width: 100%!important;
			}

			.btn {
				width: 100%;
				height: 90px;
				line-height: 90px;
				border: solid 3px #f495ac;
				color: #f495ac;
				background-color: #ddc979;
				margin-top: 65px;
				clear: both;
			}
		}
	}
}

/* EVENTS */
.events {
	.text-events {
		.f22 {
			line-height: $lineHeight + 7px;
			margin-top: 20px
		}
	}

	.full-image {
		margin: 180px auto 130px
	}

	.text {
		p {
			margin-top: 45px;
			line-height: $lineHeight;
			color: $colorFont;
		}
	}

	.our-events {
		margin: 190px auto 100px;

		h2 {
			margin: 45px 0 10px;
		}

		p {
			line-height: $lineHeight;
			color: $colorFont
		}

		.btn {
			height: 55px;
			line-height: 55px;
			background-color: #ddc979;
			margin: 60px 0 265px;
		}

		.last {
			margin-top: 130px;
		}
	}

	.quotes {
		clear: both;

		.box {
			padding: 110px 0 85px;
			background-color: #f7f7f7;
			margin-bottom: 250px;
			@extend .shadow;

			input {
				border: 1px solid #eee;
				background-color: #fff;
				padding: 0 36px;
				height: 90px;
				line-height: 90px;
				font-size: 22px;
				font-family: 'alright_sanslight';
				box-sizing: border-box;
			}

			input, li span {
				color: #979797;
			}

			.f19 {
				color: #979797;
				opacity: .75;
				margin-bottom: 10px;
			}

			.box-date {
				position: relative;
				margin-right: 16px;
				padding: 0;

				.caret {
					position: absolute;
				}
			}

			.btn-large {
				margin: 80px auto 0!important;
				display: block;
				clear: both;
				background-color: #ddc979;
				border: 0;
				padding: inherit;
			}

			.caret {
			    top: 37px;
			    right: 36px;
			}
		}

		.valign-wrapper {
			height: 1363px;
		}
	}
}

/* CARIEERS */
.careers {
	h1 {
		margin-top: 140px;
	}

	.open-positions {
		width: 100%;
		padding-bottom: 135px;
		background-color: rgba(242, 241, 241, 0.87);
		margin-top: 390px;

		h2 {
			margin: -125px 0 105px;
		}

		.wall {
  			counter-reset: wall;
		    column-count: 2;
		    -webkit-column-count: 2;
		    -moz-column-count: 2;
		}

		.m6 {
			padding: 0;
			margin-bottom: 46px!important;
			counter-increment: wall;
			position: relative;
			width: 100%;
		}

		.box {
			padding: 60px 0;
			h3 {
				margin: 0;
			}

			p {
				margin-top: 30px;
				line-height: $lineHeight - 2px;
				color: $colorFont;
			}

			a {
				margin-top: 65px;
				border-bottom: 1px solid #F6A3B8;
				display: block;
				line-height: 1;
			}
		}
	}
}

.calendar input {
	box-shadow: none!important;
}

textarea {
	line-height: 25px!important;
	padding: 40px!important;
	outline: none
}

/*  FOOTER */
#footer {
	clear: both;

	.main {
		padding: 75px 0;

		.logo {
			margin: 0 20px 65px;
			display: block;
			width: 206px;
		}

		p, a {
			line-height: $lineHeight + 6px;
			color: #555;
		}

		ul {
			margin-right: 35px
		}
	}

	.footer-gray {
		background-color: #F4F3F3;
		padding: 28px 0;

		.networks {
			a {
				float: left;
				margin-left: 34px;
			}
			.instagram {
				@include sprite($instagram);
			}
			.facebook {
				@include sprite($facebook);
			}
			.twitter {
				@include sprite($twitter);
			}
		}
		.links {
			a {
				color: #959595;
				margin-left: 15px
			}
		}
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 1680px) {
	#booking {
		.container {
			width: 678px;
		}
		.m7 {
			width: 678px;

			li {
				margin-left: 34px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) and (max-width: 1679px) {
	#restaurants {
		h2 {
			margin-top: -80px
		}
		.offset-m1.m6 {
			width: 75%;
		}
	}
	#more {
		.m5 {
			width: 50%;
			margin-left: 0
		}
		.box-experiences {
			margin-left: 0;
			width: 100%
		}
	}

	#intern {
		.info {
			.m3 {
				width: 40%;
			}
		}
	}

	.congratulations {
		h1 {
			margin-top: 55px!important;
		}

		p {
			color: $colorFont;
			line-height: $lineHeight;
			margin-top: 40px
		}

		.btn {
			margin: 40px auto;
			width: 202px;
			height: 48px;
			line-height: 48px;
			display: block;
		}

		.m6 {
			width: 60%
		}
	}

	.text-left, .text-right {
		width: 28%!important;
	}

	.text-left {
		left: 20%!important;
	}

	.text-right {
		right: 20%!important;
	}

	.lang {
		bottom: 5%!important;
	}

	#booking {
		padding: 180px 0 300px;

		.container {
			width: 563px;
		}

		.m7 {
			width: 563px;

			li {
				margin-left: 25px;
				font-size: 20px;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		.f124 {
			margin: 95px 40px 0 0!important;
			text-align: right;

			i:after {
				left: -50px!important;
				top: 28px!important
			}
		}
	}

	.box-address {
		width: 50%;

		.m8 {
			width: 82%!important
		}
	}

	.get-touch {
		.m7 {
			width: 67%!important;
		}

		#contact {
			width: 60%!important;
		}
	}

	.events {
		.info {
			width: 67%;
		}
		.our-events .btn {
			margin-bottom: 130px
		}

		.quotes .m8 {
			width: 90%
		}
	}

	.careers .open-positions {
		h2 { margin-top: -95px }
		.wall { width: 100%; }
	}

	.box-review {
		width: 48%!important;
	}

	.w1200 {
		width: 52%!important;
	}

	.big-block, .w1200 {
		.f180 {
			font-size: 115px!important;
		}
	}

	.big-block input {
		font-size: 18px!important;
	}

	.card-type {
	    margin: 0 0 2rem 2%!important;
	    padding: 0!important;
	    width: 32%;
	    font-size: 16px;

	    &:first-of-type {
			margin-left: 0!important;
	    }

	    &:last-of-type {
	    	letter-spacing: -0.025em;
	    }
	}

	.card-type, .big-block input {
		height: 80px!important;
		line-height: 80px!important;
	}

	.box-card .m12 .m4 {
		margin: 0 1% 1rem 0;
		width: 49%;
	}

	.block-room {
		.f18 {
			font-size: 14px;
		}

		.show-options .details {
			.m7 {
				width: 100%;
				margin-top: -27px!important;

				.clearfix {
					float: right;
				}
			}
		}
	}

	.select-room {
		width: 75%!important;
		.filter {
			.m9 {
				width: 95%!important;
				float: left!important;
			}
		}
	}

	.f58 { font-size: 40px; }
	.f60 { font-size: 46px; }
	.f144 { font-size: 114px; }
	.f145 { font-size: 100px; }
	.f156 { font-size: 122px; }
	.f180 { font-size: 140px; }
	.f192 { font-size: 132px; }
	.f200 { font-size: 140px; }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.container { width: 90% }
	.col.offset-m1 { margin-left: 0 }

	#hero {
		.content {
			padding: 45px 0;

			.m7 {
				width: 100%;
			}

			.main-text {
				margin-top: 45%
			}
		}
	}

	#menu {
		.container {
			width: 95%;

			.m3 { width: 22.5%; }

			.check-booking {
				width: 69%;
				.btn { margin: 0 0 0 9px; }
				.calendar {
					width: 149px;
					margin-right: 6px;

					input {
						width: 113px;
					}
				}
			}
		}
	}

	#modal {
		.text-left {
			left: 6%;
			width: 43%;
		}

		.text-right {
			right: 7%;
			width: 43%;
		}

		.lang {
			left: 8%;
		}
	}

	#restaurants {
		h2 { margin-top: -65px }
		.m6 { width: 100%; margin-top: 10px }

		.types {
			margin: 100px 0;
			min-height: auto;

			img {
				height: auto
			}

			.m6 {
				width: 50%;

				&.mob {
					margin-top: 0
				}
			}

			.offset-m1 {
				width: 50%;

				.m12 {
					margin-top: 10px;

					p.m8 {
						width: 90%
					}
				}
			}
		}
	}

	#more {
		.m12 {
			padding: 0;
		}

		.offset-m1 {
			width: 50%;

			.box-news {
				width: 100%;
				float: left;
				padding: 45px 25px;
			}
		}

		.m5.right {
			width: 50%;

			.box-experiences {
				float: right;
				width: 100%;
				padding: 0;

				.description {
					padding: 40px 22px 55px
				}
			}
		}
	}

	#intern {
		.info {
			.m3 {
				width: 70%
			}
		}

		.card {
			.btn-large {
				width: 100%;
			}
			.extended {
				.check-booking .calendar {
					width: 100%;
					margin-bottom: 8px;
					input {
						width: 80%;
						height: 45px;
					}
					.box-calendar {
						width: 20%;
					}
				}
				.m5 {
					.m11 {
						width: 100%;
						padding: 0
					}
				}
			}
		}

		.privacy {
			width: 75%
		}
	}

	.congratulations {
		.m6 {
			width: 75%;
		}
	}

	.events .our-events .btn {
		margin-bottom: 155px
	}
	.events .our-events .last {
		margin-top: 100px
	}

	.careers {
		.m7 {
			width: 85%!important;
			.m11 {
				width: 100%;

				p { margin-bottom: 0!important }
			}
		}
		h1 { text-align: center; margin-top: 112px }

		.open-positions {
			h2 {
				margin-top: -55px;
			}
			.wall {
				width: 100%;
				padding: 0
			}
		}
	}

	.quotes {
		.m8, .box .box-date {
			width: 100%;
		}

		.m6.right {
			padding: 0;
		}
	}

	#contact-map {
		.box-address {
			.m8, .m6 {
				width: 100%;
			}
			.m6 {
				margin: 50px 0 25px
			}
		}
		.get-touch {
			.m7, #contact {
				width: 80%
			}
		}
		.maps {
			position: static;
			height: 1200px;

			iframe {
				height: 1200px!important;
			}
		}
		.f200 {
			font-size: 118px;
			text-align: center;
		}
	}

	.our-story {
		.m7 {
			width: 90%;

			.m11 {
				padding: 0;
			}
		}
	}

	#booking {
		.container {
			.m7 {
				width: 100%;

				ul {
					width: 670px;
					margin: 0 auto;

					li {
						margin-left: 29px;
					}
				}
			}
			.f124 {
				margin-left: 60px;

				i:after {
					left: 0;
				}
			}

			&.select-room {
				width: 100%!important;

				.f124 { margin-left: 0; }
			}
		}
	}

	.select-room {
		width: 100%!important;

		.filter {
			.m9 {
				padding: 0;
				width: 90%;
			}
		}
	}

	.box-review {
		padding: 0;

		.m11 {
			padding: 90px 0;
			width: 100%;

			.m10 {
				width: 100%
			}
		}
	}

	.box-card .m12 {
		.card-type {
			width: 100%;
			margin: 5px 0!important;

			&:last-of-type {
				margin-bottom: 30px!important;
			}
		}

		.date {
			width: 48.45%;
			margin-right: 10px;

			&:nth-child(odd) {
				margin-right: 0;
			}

			input {
				padding: 0 20px
			}
		}

		.cvc {
			width: 100%
		}
	}

	.box-final .m12 .box-agree a, .box-final .m12 .box-agree p {
		padding: 0
	}

	.details .right .m7 {
		width: 100%!important;
	}
	.details .right .m5 {
		clear: both;
		width: 100%!important;
	}
	.box-reservation {
		.m7 {
			width: 75%;
		}
	}

	#footer .footer-gray {
		.clearfix {
			clear: initial;

			.networks a {
				margin-left: 25px;
			}
		}
	}

	.calendar input {
		height: 45px;
	}

	.f58 { font-size: 33px; }
	.f60 { font-size: 42px; }
	.f62 { font-size: 58px; }
	.f124 { font-size: 109px; }
	.f144 { font-size: 88px; }
	.f145 { font-size: 93px; }
	.f156, .f180 { font-size: 100px; }
	.f192 { font-size: 102px; }
	.f200 { font-size: 122px; }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	@for $i from 1 through 12 {
		.col.m#{$i} {
    		width: 100%
		}
	}

	.col.s11 { width: 90%; }

	.col.offset-m1 { margin-left: 0 }

	.container { width: 90%!important; }

	#hero {
		.content {
			margin: 0 5%;
			padding: 45px 0;
		}

		.block-menu {
			margin-top: 7px
		}

		.content {
			.main-text {
				margin-top: 30%
			}

			.box-scroll {
				bottom: 10%;
			}

			.check-booking {
				width: 100%;
				left: 0;
				bottom: -134px;
				height: 134px;
				margin-left: 0;

				.clearfix.left {
					float: none!important;
				}

				.calendar {
					width: 49%;
					margin-right: 1%!important;

					&:last-of-type {
						margin-right: 0;
					}

					input {
						padding: 0 7px;
						width: 74%;
						height: 45px;
					}

					.box-calendar {
						width: 26%
					}
				}

				.btn {
					margin: 15px auto 0;
					display: block;
					float: none!important;
				}
			}
		}
	}

	#menu {
		.col {
			width: auto;
		}

		.check-booking {
			display: none;
		/*	margin-top: 40px;
			padding: 0;

			.calendar {
				width: 100%;
				margin-bottom: 8px;

				input {
					width: 80%;
					height: 45px;
				}

				.box-calendar {
					width: 20%;
				}
			}
			.btn {
				margin: 20px auto;
			    float: none!important;
			    clear: both;
			    width: 70%;
			}
		}*/
		}
	}

	#layout-two {
		h1 {
			margin-top: 0
		}

		.article {
			margin-top: 40px;
		}

	}
	#modal {
		position: absolute;

		.text-left, .text-right {
			width: 90%;
			left: 6%;
			margin-left: 0
		}

		.text-right {
			right: 0;
			top: 375px;
		}

		.lang {
			top: 850px;
			left: 9%;
		}

		.newsletter {
			width: 100%;
		}
	}

	#rooms {
		padding: 145px 0 120px;

		.btn-large {
			display: block;
			margin: 50px auto 120px;
		}

		.m7 {
			padding-left: 0;
			margin-bottom: 120px
		}
	}

	#restaurants {
		padding-bottom: 50px;

		h2 {
			margin-top: -30px;
		}

		.f22 {
			margin-top: 30px;
			line-height: $lineHeight;
		}

		.types {
			margin-top: 80px;

			.m12 {
				margin-top: 0;

				p {
					margin-bottom: 60px;
				}
			}

			.btn-large {
				margin: 60px auto;
				display: block;
				float: none!important
			}

			img {
				height: inherit;
			}
		}
	}

	#more {
		padding-top: 100px;

		img {
			width: 100%;
		}

		.m12 {
			padding: 0;

			.m5 {
				padding: 0;

				.box-news {
					padding: 55px 27px 45px
				}
			}

			.m6 {
				padding: 0
			}

			.box-experiences {
				margin: 0 0 29px 0;

				.description {
					padding: 40px 26px 55px
				}
			}
		}

		h2 {
			margin-bottom: 120px
		}
	}

	#contact-map {
		.box-address {
			position: static;
			margin-bottom: 80px;
		}
		.get-touch #contact {
			margin-top: 100px!important;

			input, textarea {
				margin-bottom: 20px;
				padding: 0 20px;
				font-size: 18px;
			}

			input {
				height: 60px;
				line-height: 60px;
			}

			textarea {
				padding: 20px
			}
		}
		.f200 {
			text-align: center
		}
	}

	.text-events {
		padding: 0
	}

	.events {
		.full-image, .our-events { margin: 80px auto }
		.our-events {
			.m6 {
				padding: 0
			}

			.btn {
				margin-bottom: 80px;
			}

			img, .last {
				margin-top: 40px
			}
		}

		.quotes .box {
			margin: 50px 0;

			input {
				padding: 0 20px;
				font-size: 18px;
			}
			.caret {
				right: 20px;
			}
		}
	}

	#footer {
		.main .logo {
			margin: 0 auto 65px
		}

		.m4 {
			margin: 20px 0;
			width: 100%;

			.left:last-of-type {
				float: right!important;
			}
		}
		.footer-gray {
			p {
				text-align: center;
			}

			.right, .left {
				float: none!important;
			}

			.networks {
				width: 134px;
				margin: 10px auto;

				.facebook {
					margin-left: 0
				}
			}

			.links {
				width: 247px;
				margin: 0 auto;

				a:first-of-type {
					margin-left: 0;
				}
			}
		}
	}

	#intern {
		padding: 180px 0;
		.info {
			.f18 {
				margin-top: 20px;
				font-size: 16px;
			}
		}
		.card {
			width: 100%!important;

			.calendar {
				width: 100%!important;
				margin: 10px 0;

				input {
					width: 80%!important;
					height: 45px;
				}

				.box-calendar {
					width: 20%!important;
				}
			}
		}
	}

	.congratulations {
		h1 {
			margin-top: 0!important
		}
		p {
			margin-top: 20px
		}
	}

	#contact-map .box-address .m6 {
		margin-bottom: 20px;
	}

	#contact-map .box-address .social-media {
		margin-top: 30px;
		float: left;
	}

	.our-story {
		margin-bottom: 120px;
		.m7, h1 {
			padding: 0 .75rem;

			.m11 {
				padding: 0;
			}
		}
	}

	.careers {
		h1 {
			margin-top: 0;
			text-align: center;
		}

		.text-events p {
			margin-bottom: 60px!important
		}

		.open-positions {
			margin-top: 160px;

			h2 {
				margin-top: -65px
			}

			.wall {
				-webkit-column-count: 1;
				column-count: 1;
			}
		}
	}

	#booking {
		padding: 180px 0;

		ul {
			width: 170px;
			margin: 0 auto;

			li {
				margin-left: 0
			}
		}

		.container {
			.f124 {
				margin: 150px 0 0 0;

				i:after {
					left: 0;
				}
			}

			&.select-room {
				.f124 {
					margin-top: 180px;
					margin-left: 0;
					font-size: 45px;
				}
			}

			&.payment {
				.f124 {
					font-size: 69px;
				}
			}
		}
	}

	.big-block {
		padding: 0;

		.m5, .m7, .m10 {
			padding: 0
		}
		&:last-child {
			margin-bottom: 150px
		}
	}

	.box-guest, .box-card, .box-final {
		input {
			height: 65px!important;
			line-height: 65px!important;
			padding: 0 20px!important;
			font-size: 18px!important
		}

		.caret {
			top: 23px!important;
			right: 20px!important
		}
	}

	.box-guest {
		.m12 {
			padding: 80px 0;
		}
	}

	.box-guest, .box-final {
		.m10 {
			padding: 0 .75rem!important;
		}
	}

	.box-card {
		.card-type {
			width: 100%;
			margin: 5px 0!important;

			&:last-of-type {
				margin-bottom: 30px!important;
			}
		}
	}

	.box-final {
		.m12 .box-agree {
			margin-top: 30px!important;

			p, a {
				width: 70%;
				padding: 0!important;
				font-size: 14px;
				line-height: 24px
			}

			.m2 {
				width: 30%;
				float: right;
			}
		}
	}

	.f180.valign {
		font-size: 76px;
		margin: 20px auto;
		text-align: center;
	}

	.select-room {
		.rooms {
			margin-top: 0;
		}

		.btn {
			float: none!important;
			margin: 0 auto;
		}
	}

	.valign-wrapper {
		height: auto!important
	}

	.f22 {
		font-size: 18px
	}

	.f44 {
		font-size: 28px;
	}

	.f50 {
		font-size: 42px
	}

	.f58 {
		font-size: 34px
	}

	.f60 {
		font-size: 28px;
	}

	.f62 {
		font-size: 60px;
	}

	.f94 {
		font-size: 43px;
	}

	.f103, .f120 {
		font-size: 96px;
	}

	.f124 {
		font-size: 86px;
	}

	.f144 {
		font-size: 90px!important
	}

	.f145, .f192, .f65 {
		font-size: 38px;
	}

	.f156 {
		font-size: 68px;
	}

	.f180 {
		font-size: 105px;
	}

	.f200 {
		font-size: 49px
	}
}

@media screen and (min-width: 480px) and (max-width: 600px) {
	#rooms .m7 {
		padding: 0 .75rem
	}

	#restaurants h2 { margin-top: -37px; }

	.types {
		.offset-m1 {
			padding: 0;
			margin: 0 auto;
			float: none!important;
			width: 90%
		}
	}

	#intern .card .extended .check-booking .calendar {
		width: 48%!important;
	}

	.box-final {
		.m12 .box-agree {
			p, a {
				width: 80%;
				font-size: 18px;
				line-height: $lineHeight
			}

			.m2 {
				width: 20%;
			}
		}
	}

	.f58 { font-size: 50px; }
	#rooms .f60 { font-size: 59px; }
	.f200 { font-size: 73px; }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
	#menu .container .m3 {
		width: 27%!important;
	}

	#menu .container .check-booking {
		width: 52%!important
	}

	#hero .content .main-text {
		margin-top: 15%;
	}

	#restaurants h2 {
		margin-top: -80px
	}

	.f200 {
		font-size: 155px;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
	#hero .content .main-text { margin-top: 9%; }
	#hero .content .box-scroll { bottom: 7% }
	#contact-map .box-address .city.f144 { font-size: 135px!important }
}

@media screen and (min-width: 320px) and (max-width: 395px) {
	.shares {
		float: left!important;
		.left:last-of-type {
			float: none!important;
			padding: 15px 0;
			clear: both;
		}
	}
}