$twitter: -0px -0px 24px 22px;
$arrow-select: -0px -22px 32px 22px;
$instagram: -0px -44px 23px 23px;
$facebook: -0px -67px 16px 25px;
$twitter-white: -0px -92px 33px 29px;
$calendar: -0px -121px 29px 31px;
$instagram-white: -0px -152px 33px 33px;
$checked: -0px -185px 32px 34px;
$facebook-white: -0px -219px 22px 36px;
$calendar-bigger: -0px -255px 35px 38px;
$guest-icon: -0px -293px 29px 39px;
$arrow-scroll: -0px -332px 47px 47px;
$arrow-scroll--dark-golden: -0px -379px 47px 47px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../img/sprite.png');
}
